* {
    margin: 0;
}

img {
    width: 5%;
}

nav {
    display: flex;
    background-color: rgb(203, 203, 203);
    justify-content: space-around;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav li {
    padding: 10px;
}